<h3>OBJ DATA - {{name}}</h3>
<p>v_num：{{vnum}}</p>
<p>f_num：{{fnum}}</p>
<p>_cp：{{cp}}</p>
<p>( w , h )：( {{size}} )</p>
{{#rinf}}
<p>r：{{r}}</p>
{{/rinf}}
<p>v：<ul>
    {{#va}}
        <li>( {{v}} )</li>
    {{/va}}
</ul></p>
{{#fa}}
<p>f：<ul>
    <li>{{f}}</li>
</ul></p>
{{/fa}}
